<div class="register" style="">
    <div class="back-dark">
        <div class="container">
            <div class="card-body">
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
                    <div class="row">
                        <div class="col-md-12 d-flex header">
                            <h1>Cadastro de Instituição</h1>
                            <a class="ancor inst-link" [routerLink]="'/register'">Sou Doador</a>
                        </div>
                        <div class="col-md-12">
                            <h3>Instituição</h3>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-8">

                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Nome da Instituição</mat-label>
                                            <input matInput type="text" formControlName="name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>CNPJ</mat-label>
                                            <input matInput appMask="cpnjMask" type="text" formControlName="cpnj">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Telefone</mat-label>
                                            <input matInput appMask="cellphoneMask" type="text" formControlName="phone">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Website</mat-label>
                                            <input matInput type="text" formControlName="homepage">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Apresentação resumida</mat-label>
                                    <textarea matInput rows="6" maxlength="150" placeholder="150 caracteres"
                                        formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row address" formGroupName="address">
                        <div class="col-md-12 header-address">
                            <h3>Endereço</h3>
                            <mat-hint>Este endereço será usado como ponto de entrega de alimentos pelos doadores
                            </mat-hint>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Logradouro</mat-label>
                                <input matInput type="text" formControlName="street">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field appearance="fill">
                                <mat-label>Nº</mat-label>
                                <input matInput type="text" formControlName="number">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Complemento</mat-label>
                                <input matInput type="text" formControlName="complement" placeholder="sala 302">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Bairro</mat-label>
                                <input matInput type="text" formControlName="district">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Cidade</mat-label>
                                <input matInput type="text" formControlName="city">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Estado</mat-label>
                                <mat-select formControlName="uf">
                                    <mat-option *ngFor="let estado of estados" [value]="estado.key">
                                        {{estado.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Informações de Acesso</h3>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>E-mail</mat-label>
                                <input matInput type="text" formControlName="email">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Senha*</mat-label>
                                <input matInput type="text" formControlName="password" type="password">
                                <mat-hint>Mínimo de 6 caracteres
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Dados do responsável</h3>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Primeiro Nome</mat-label>
                                <input matInput type="text" formControlName="responsibleFirstName">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Sobrenome</mat-label>
                                <input matInput type="text" formControlName="responsibleLastName">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Celular</mat-label>
                                <input matInput appMask="cellphoneMask" type="text" formControlName="responsiblePhone">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Cargo</mat-label>
                                <input matInput type="text" formControlName="responsibleRole">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="clearfix">
                        <button mat-raised-button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>