<div class="modal-header justify-content-center">
    <h4 class="title title-up">Recuperação de senha</h4>
    <button type="button" class="close" (click)="close(false)">
        <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
</div>
<div class="modal-body">
    <div class="card-body">
        <form id="login-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()" *ngIf="forgotForm">
            <div class="row">
                <div class="col-md-12">
                    <h5>Digite seu e-mail, será enviado para ele as instruções de recuperação de senha</h5>
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="fill">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="text" formControlName="email" />
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" (click)="close(false)">Cancelar</button>
    <button type="submit" form="login-form" class="btn btn-primary">Enviar</button>
</div>