.section-team .team .team-player img {
  padding: 10px;
}

.page-header-small {
  min-height: 40vh;
  max-height: 300px;
  .page-header-image {
      background-position: center 35%;
  }
}

.now-ui-icons {
  font-size: 60px;
}

.category.text-primary {
  margin: 12px 0 12px;
}
