<div class="modal-header justify-content-center">
    <h4 class="title title-up">Oferecer Doação para coleta em meu endereço</h4>
    <button type="button" class="close" (click)="close(false)">
        <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
</div>
<div class="modal-body">
    <div class="card-body">
        <form id="login-form" [formGroup]="donationForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm"
            *ngIf="donationForm">
            <div class="row" formGroupName="workingTime">
                <div class="col-md-12">
                    <h4>Horário para Coleta</h4>
                </div>
                <div class="col-md-6 working-time">
                    <h5>Dias Disponíveis</h5>
                    <mat-checkbox formControlName="monday" class="example-margin">Segunda-Feira</mat-checkbox>
                    <mat-checkbox formControlName="tuesday" class="example-margin">Terça-Feira</mat-checkbox>
                    <mat-checkbox formControlName="wednesday" class="example-margin">Quarta-Feira</mat-checkbox>
                    <mat-checkbox formControlName="thursday" class="example-margin">Quinta-Feira</mat-checkbox>
                    <mat-checkbox formControlName="friday" class="example-margin">Sexta-Feira</mat-checkbox>
                    <mat-checkbox formControlName="saturday" class="example-margin">Sábado</mat-checkbox>
                    <mat-checkbox formControlName="sunday" class="example-margin">Domingo</mat-checkbox>
                </div>
                <div class="col-md-6">
                    <div class="row time-work">
                        <div class="col-md-12">
                            <h5>Horário dia de semana</h5>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Início</mat-label>
                                <input matInput appMask="timeMask" type="tel" formControlName="weekDayBegin" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Final</mat-label>
                                <input matInput appMask="timeMask" type="tel" formControlName="weekDayFinal" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <h5>Horário final de semana</h5>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Início</mat-label>
                                <input matInput appMask="timeMask" type="tel" formControlName="weekEndBegin" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Final</mat-label>
                                <input matInput appMask="timeMask" type="tel" formControlName="weekEndFinal" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="food-list container">
                <div class="row" formArrayName="foodAmount"
                    *ngFor="let item of donationForm.get('foodAmount')['controls']; let i = index;">
                    <ng-container [formGroupName]="i">
                        <div class="line">
                            <mat-form-field appearance="fill">
                                <mat-label>Alimento</mat-label>
                                <mat-select formControlName="food">
                                    <mat-option *ngFor="let food of foods" [value]="food.id">{{food.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Quantidade (Kg ou L)</mat-label>
                                <input matInput placeholder="0" type="tel" formControlName="amount">
                            </mat-form-field>
                            <button title="Remover alimento" *ngIf="i > 0" (click)="removeItem(i)"
                                class="btn btn-danger btn-icon btn-round">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <button *ngIf="items.length < 8" (click)="addItem()" class="btn btn-primary btn-round">Mais alimentos</button>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" (click)="close(false)">Cancelar</button>
    <button type="submit" form="login-form" class="btn btn-primary">Salvar</button>
</div>