<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        Doe de Casa
                    </a>
                </li>
                <li>
                    <a href="#">
                        Política de Privacidade
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            Direitos reservados Doe de Casa 2021
        </div>
    </div>
</footer>