<div class="modal-body">
    <button type="button" class="close" (click)="close(false)">
        <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <div class="card-body">
        <form id="form">
            <div class="row">
                <div class="col-md-12">
                    <mat-icon [class]="data.type" *ngIf="data.type === 'success'">check_circle_outline</mat-icon>
                    <mat-icon [class]="data.type" *ngIf="data.type === 'warning'">warning</mat-icon>
                    <mat-icon [class]="data.type" *ngIf="data.type === 'error'">error</mat-icon>
                    <p>{{ data.text }}</p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div *ngIf="data.buttons" class="custom-buttons">
        <button *ngFor="let button of data.buttons" class="btn btn-default" (click)="customCallback(button.callback)">{{button.text}}</button>
    </div>
    <button *ngIf="!data.buttons" class="btn btn-default" (click)="close(false)">Ok</button>
</div>