<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/background-1.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/instituicao.png" alt="">
                </div>
                <h3 class="title">{{instituicao?.name}}</h3>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a *ngIf="uid" (click)="donation()" class="btn btn-primary btn-round btn-lg ancor">Agendar Doação</a>
                <a *ngIf="!uid" (click)="editProfile()" class="btn btn-primary btn-round btn-lg ancor">Editar Perfil</a>
                <a *ngIf="!uid" (click)="editConfig()" class="btn btn-primary btn-round btn-lg ancor">Configurações de Doações</a>
                <a *ngIf="!uid" (click)="redirectToInstitutionMap()" class="btn btn-info btn-round btn-lg ancor">Buscar
                    Doadores</a>
            </div>
            <h3 class="title">Sobre a instituição</h3>
            <h5 class="description">{{instituicao?.description}}</h5>
            <h3 class="title">Alimentos prioritários</h3>
            <h5 class="description">{{priorityFoods}}</h5>
            <h3 class="title">Endereço</h3>
            <h5 class="description">{{instituicao?.address.getFullAddress()}}</h5>
            <h3 class="title">Dias de funcionamento</h3>
            <h5 class="description">
                <span class="work-day" *ngFor="let day of instituicao?.workingTime.getDayList()">{{day}}</span>
            </h5>
            <h3 class="title">Horário de funcionamento</h3>
            <h5 class="description">
                <span class="work-time" *ngIf="instituicao?.workingTime.workOnWeekday()">Dias de Semana:
                    {{instituicao?.workingTime.weekDayBegin}} até
                    {{instituicao?.workingTime.weekDayFinal}}</span>
                <span class="work-time" *ngIf="instituicao?.workingTime.workOnWeekend()">Finais de Semana:
                    {{instituicao?.workingTime.weekEndBegin}} até
                    {{instituicao?.workingTime.weekEndFinal}}</span>
            </h5>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>