<div class="modal-header justify-content-center">
    <h4 class="title title-up">Editar Perfil</h4>
    <button type="button" class="close" (click)="close(false)">
        <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
</div>
<div class="modal-body">
    <div class="card-body">
        <form id="login-form" [formGroup]="profileForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm"
            *ngIf="profileForm">

            <div class="row">
                <div class="col-md-12">
                    <h5>Infomações para doações</h5>
                </div>
                <div class="col-md-6">
                    <mat-checkbox formControlName="enableDonation" class="example-margin">Habilitar para receber
                        doações.</mat-checkbox>
                </div>
                <div class="col-md-6">
                    <mat-label>Alimentos prioritários (5 no máximo)</mat-label>
                    <mat-select formControlName="foodNeeded" multiple>
                        <mat-option *ngFor="let food of foods" [disabled]="isItemDisabled(food)" [value]="food.id">
                            {{food.title}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="row" formGroupName="workingTime">
                <div class="col-md-6 working-time">
                    <h5>Horário de Funcionamento</h5>
                    <mat-checkbox formControlName="monday" class="example-margin">Segunda-Feira</mat-checkbox>
                    <mat-checkbox formControlName="tuesday" class="example-margin">Terça-Feira</mat-checkbox>
                    <mat-checkbox formControlName="wednesday" class="example-margin">Quarta-Feira</mat-checkbox>
                    <mat-checkbox formControlName="thursday" class="example-margin">Quinta-Feira</mat-checkbox>
                    <mat-checkbox formControlName="friday" class="example-margin">Sexta-Feira</mat-checkbox>
                    <mat-checkbox formControlName="saturday" class="example-margin">Sábado</mat-checkbox>
                    <mat-checkbox formControlName="sunday" class="example-margin">Domingo</mat-checkbox>
                </div>
                <div class="col-md-6">
                    <div class="row time-work">
                        <div class="col-md-12">
                            <h5>Horário dia de semana</h5>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Início</mat-label>
                                <input matInput type="text" appMask="timeMask" formControlName="weekDayBegin" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Final</mat-label>
                                <input matInput type="text" appMask="timeMask" formControlName="weekDayFinal" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <h5>Horário final de semana</h5>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Início</mat-label>
                                <input matInput type="text" appMask="timeMask" formControlName="weekEndBegin" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Final</mat-label>
                                <input matInput type="text" appMask="timeMask" formControlName="weekEndFinal" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" (click)="close(false)">Cancelar</button>
    <button type="submit" form="login-form" class="btn btn-primary">Salvar</button>
</div>