<div class="section section-basic">
    <div class="container">
        <div class="col-sm-6 col-lg-12">
            <h1>Formulário de avaliação do Usuário</h1>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    Aceito o Termo de Consentimento Livre e Esclarecido – TCLE. <a class="ancor">Clique aqui</a> para visualizar.
                </label>
            </div>
        </div>
        <hr>
        <div class="col-sm-6 col-lg-12">
            <p class="category">Como você avalia a eficácia da plataforma?</p>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1">
                    <span class="form-check-sign"></span>
                    Excelente
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Boa
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Regular
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Ruim
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Péssima
                </label>
            </div>
        </div>
        <hr>
        <div class="col-sm-6 col-lg-12">
            <p class="category">Como você avalia a usabilidade da plataforma?</p>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1">
                    <span class="form-check-sign"></span>
                    Excelente
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Boa
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Regular
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Ruim
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Péssima
                </label>
            </div>
        </div>
        <hr>
        <div class="col-sm-6 col-lg-12">
            <p class="category">Como você avalia a participação da ferramenta em seu processo de doação?</p>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1">
                    <span class="form-check-sign"></span>
                    Excelente
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Boa
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Regular
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Ruim
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Péssima
                </label>
            </div>
        </div>
        <hr>
        <div class="col-sm-6 col-lg-12">
            <p class="category">Você recomendaria a plataforma para outras pessoas?</p>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1">
                    <span class="form-check-sign"></span>
                    Sim
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option2" checked>
                    <span class="form-check-sign"></span>
                    Não
                </label>
            </div>
        </div>
        <hr>
        <div class="col-sm-6 col-lg-12">
            <p class="category">Críticas e sugestões</p>
            <textarea matInput formControlName="mensagem"></textarea>
        </div>
        <div class="clearboth">
            <button class="btn">Enviar</button>
        </div>
    </div>
</div>