.page-header {
  height: calc(100vh - 61px);
}
.category-absolute {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

ngb-progressbar {
  margin-top: 5rem;
}

.page-header[filter-color="orange"] {
  background: linear-gradient(0deg, rgb(78 7 0 / 60%), rgb(78 7 0 / 60%));
}


.separator {
  margin: 60px auto;
}

.team-player {
  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}

.b-right {
  border-right: 1px dashed #ddd;
}

.btn-primary {
  color: #fff !important;
}


@media only screen and (max-width: 768px) {
  .section-story-overview {
    padding: 0 15px;
  }
  .blockquote {
    margin-bottom: 20px !important;
  }
}

