<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/background-2.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/home-52.svg" alt="">
                <h1 class="h1-seo">Doe de Casa</h1>
                <h3>Sua ajuda sempre é bem vinda</h3>
            </div>
            <h6 class="category category-absolute">Projeto acadêmico. Aluno da Universidade Feevale. 2021.</h6>
        </div>
    </div>

    <div class="main">
        <div class="section section-about-us">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="team-player">
                            <mat-icon>add_to_queue</mat-icon>
                            <p class="category text-primary">Já se Cadastrou?</p>
                            <p class="description">Se você não se cadastrou ainda, cadastre-se aqui para poder iniciar
                                suas doações.</p>
                            <a [routerLink]="'/register/'" type="button" class="btn btn-primary btn-round">Cadastrar</a>
                        </div>
                    </div>
                    <div class="separator separator-primary"></div>

                    <div class="col-md-12">
                        <h2 class="title">Como funciona?</h2>
                    </div>


                    <div class="col-md-6 b-right">

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title">Para Doadores</h3>
                            </div>

                            <div class="col-md-6">
                                <div class="team-player">
                                    <mat-icon>home</mat-icon>
                                    <p class="category text-primary">Doe sem sair de Casa</p>
                                    <p class="description">Como doador, você pode ofertar doações para que
                                        instituições as
                                        coletem em seu endereço!</p>
                                    <a type="button" (click)="redirectProfileForDonator()"
                                        class="btn btn-primary btn-round">Doe de Casa</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="team-player">
                                    <mat-icon>location_pin</mat-icon>
                                    <p class="category text-primary">Onde doar</p>
                                    <p class="description">Encontre as intituições mais próximas de você que estão
                                        precisando de
                                        alimentos!</p>
                                    <a [routerLink]="'/maps/donator'" type="button"
                                        class="btn btn-primary btn-round">Ver no
                                        Mapa</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title">Para Instituições</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="team-player">
                                    <mat-icon>location_history</mat-icon>
                                    <p class="category text-primary">Encontre doadores</p>
                                    <p class="description">Encontre os doadores próximos que já possuem uma doação
                                        disponível.</p>
                                    <a (click)="redirectMapsForInstitution()" type="button"
                                        class="btn btn-primary btn-round">Ver no
                                        Mapa</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="team-player">
                                    <mat-icon>construction</mat-icon>
                                    <p class="category text-primary">Organize sua coleta</p>
                                    <p class="description">Selecione os alimentos mais prioritários no momento e defina
                                        um horario de funcionamento para receber doações na instituição.</p>
                                    <a (click)="redirectProfileForInstitution()" type="button"
                                        class="btn btn-primary btn-round">Ver
                                        Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="separator separator-primary"></div>
            <div class="section-story-overview container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('assets/img/background-3.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Um pouco de perfume sempre fica nas mãos de quem
                                oferece flores."
                                <br>
                                <br>
                                <small>-Provérbio Chinês</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container d-none d-sm-block"
                            style="background-image: url('assets/img/background-1.jpg')">
                        </div>
                    </div>
                    <div class="col-md-5 mt-xs-3">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/background-2.jpg')"></div>
                        <h3>Quem somos</h3>
                        <p>Doe de Casa é um projeto acadêmico de um aluno da Universidade Feevale. Visto que a fome é um
                            fator bastante preocupante em nossa sociedade atualmente, esse projeto tem como objetivo
                            auxiliar e movimentar o processo de doação em sua comunidade. Ele foi idealizado para
                            aproximar as instituições, que coletam e distribuem alimentos na comunidade, e os doadores
                            de alimentos.
                        </p>
                        <p>
                            O fator localização é crucial quando se fala em doação, visto que quando uma doação é feita
                            para uma comunidade próxima, o doador consegue visualizar de forma mais transparente o
                            impacto que sua doação gerou em seu entorno. Doe de Casa aposta em um sistema de
                            geolocalização para aproximar quem precisa de doação e quem quer doar.
                        </p>
                        <p>Com a ferramenta, doadores podem oferecer doações de casa e esperar que instituições
                            interessadas a coletem, sem precisar sair de casa. Os doadores podem também agendar doações
                            para entrega presencial na instituição. Com um sistema de agendamento, instituições e
                            doadores podem organizar suas visitas e entregas para quando for mais conveniente
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>