<nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="500">
  <div class="container">

    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']">
        <i class="now-ui-icons home"></i>
        <img class="logo" src="assets/img/home-52.svg" alt="">
        Doe de Casa
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authServ.isLoggedIn" routerLink="/login">
            <i class="now-ui-icons users_circle-08"></i>
            <p>Entrar</p>
          </a>
          <div ngbDropdown *ngIf="authServ.isLoggedIn">
            <a class="dropdown-toggle nav-link" ngbDropdownToggle>
              <i class="now-ui-icons users_circle-08"></i>
              <p>{{authServ.getUserApp().getName()}}</p>
            </a>
            <div ngbDropdownMenu>
              <a class="dropdown-header">Opções do Usuário</a>
              <a class="dropdown-item" routerLink="/perfil">Perfil</a>
              <a class="dropdown-item" routerLink="/my-donations">Minhas Doações</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Sair</a>
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/instituicoes'">
            <i class="now-ui-icons objects_globe"></i>
            <p>Instituições</p>
          </a>
        </li>
        <div ngbDropdown placement="right" >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            <i class="now-ui-icons ui-1_bell-53" aria-hidden="true"></i>
            <span class="not-number" *ngIf="notifications.length">{{notifications.length}}</span>
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-header">Notificações</a>
            <a *ngFor="let notification of notifications" class="dropdown-item" (click)="notificationClick(notification)"
              routerLink="/my-donations">{{notification.message}}</a>
          </div>
        </div>
        <li class="nav-item">

        </li>
      </ul>
    </div>
  </div>
</nav>