.logo {
  filter: brightness(5);
  width: 25px;
  margin-right: 10px;
}

.navbar-brand {
  display: flex;
}

.not-number {
  position: absolute;
  right: 8px;
  bottom: 0px;
  background: #2ca8ff;
  height: 15px;
  line-height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 25%;
}

@media screen and (max-width: 991px) {
  .navbar ::ng-deep .dropdown.show .dropdown-menu {
    height: auto;
    max-height: 250px;
  }

  .not-number {
    left: 50px;
    top: 40px;
  }
}
