
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/background-3.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/home-52.svg" alt="">
                        </div>
                    </div>
                    <div class="content">
                      <div class="input-group form-group-no-border input-lg" >
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input type="text" formControlName="email" class="form-control" placeholder="E-mail" >
                      </div>
                      <div class="input-group form-group-no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="password" formControlName="password" placeholder="Senha" class="form-control"/>
                      </div>
                      <div class="error-msg" *ngIf="errors">
                          E-mail e/ou senha inválidos
                      </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Login</button>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a routerLink="/register" class="link register">Cadastrar-se</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="copyright">
                <a href="#">Direitos reservados. Doe de Casa.</a>
            </div>
        </div>
    </footer>
</div>
