.logo-container img {
  filter: brightness(5);
}

.register {
  font-size: 14px;
}

.page-header[filter-color="orange"] {
  background: linear-gradient(0deg, rgb(78 7 0 / 30%), rgb(78 7 0 / 30%));
}

.page-header{
  height: calc(100vh - 130px);
}