<div class="modal-header justify-content-center">
    <h4 class="title title-up">Editar Perfil</h4>
    <button type="button" class="close" (click)="close(false)">
        <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
</div>
<div class="modal-body">
    <div class="card-body">
        <form id="form" [formGroup]="profileForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Primeiro Nome</mat-label>
                        <input matInput type="text" formControlName="firstName" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput placeholder="Sobrenome" type="text" formControlName="lastName" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Telefone</mat-label>
                        <input matInput placeholder="Telefone" appMask="cellphoneMask" type="text" formControlName="phone" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row" formGroupName="address">
                <div class="col-md-8">
                    <mat-form-field appearance="fill">
                        <mat-label>Logradouro</mat-label>
                        <input matInput type="text" formControlName="street" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Número</mat-label>
                        <input matInput type="text" formControlName="number" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row" formGroupName="address">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Bairro</mat-label>
                        <input matInput type="text" formControlName="district" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Cidade</mat-label>
                        <input matInput type="text" formControlName="city" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="uf">
                            <mat-option *ngFor="let estado of estados" [value]="estado.key">
                                {{estado.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" (click)="close(false)">Cancelar</button>
    <button type="submit" form="form" class="btn btn-primary">Salvar</button>
</div>