<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/background-1.jpg')"></div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/user-icon.jfif" alt="" />
                </div>
                <h3 class="title">{{ user.getFullName() }}</h3>
                <p class="category">{{ user.type }}</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a (click)="openEdit()" class="btn btn-primary btn-round btn-lg ancor">Editar Perfil</a>
                <a (click)="openDonationOffer()" class="btn btn-info btn-round btn-lg ancor">Oferecer Doação</a>
                <a (click)="deleteAccount()" class="btn btn-danger btn-round btn-lg ancor">
                    <i class="fas fa-trash-alt"></i>
                    Excluir Conta
                </a>
            </div>
            <h3 class="title">Sobre mim</h3>
            <h5 class="description">{{ user.obs }}</h5>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com"> Creative Tim </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us"> About Us </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com"> Blog </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
                Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>