a.btn-primary {
  color: #fff;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 0;
}

.page-header .page-header-image {
  background-position: center 0%;
}

.page-header[filter-color="orange"] {
  background: rgba(224, 23, 3, 0.6);
}

.page-header-small {
  min-height: 40vh;
  max-height: 260px;
}

.header {
  margin-top: 15px;
  text-align: center;
}

.title {
  margin-top: 15px;
  text-align: left;
}

.description {
  text-align: left;
}
