<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Minhas Doações</h1>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Doaçoes</h2>
            <div class="team">
                <div class="row">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="data">
                            <th mat-header-cell *matHeaderCellDef> Data </th>
                            <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy h:mm a'}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="instituicao">
                            <th mat-header-cell *matHeaderCellDef> Instituição </th>
                            <td mat-cell *matCellDef="let element"> {{element.instituicao.getFullName()}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef> Alimento </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="quantidade">
                            <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                            <td mat-cell *matCellDef="let element"> {{element.quantidade}} kg(s)</td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="mensagem">
                            <th mat-header-cell *matHeaderCellDef> Mensagem </th>
                            <td mat-cell *matCellDef="let element"> {{element.mensagem}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>