<div class="container">
    <h1 class="h1">Créditos das imagens utilizadas no site</h1>
    <ul>
        <li><img src="/assets/img/background-2.jpg" alt=""><a href="https://br.freepik.com/fotos/alimento">Alimento foto
                criado por freepik - br.freepik.com</a></li>
        <li><img src="/assets/img/background-3.jpg" alt=""><a href="https://br.freepik.com/fotos/alimento">Alimento foto
                criado por pereslavtseva - br.freepik.com</a>
        </li>
        <li><img src="/assets/img/background-4.jpg" alt=""><a href="https://br.freepik.com/fotos/pessoas">Pessoas foto
                criado por jcomp - br.freepik.com</a></li>
        <li><img src="/assets/img/background-1.jpg" alt=""><a href="https://br.freepik.com/fotos/alimento">Alimento foto
                criado por freepik - br.freepik.com</a></li>
    </ul>
</div>