/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "./app/core/styles/global.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-global-overlay-wrapper {
  z-index: 1000;
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

.ancor {
  cursor: pointer;
}

.mat-dialog-container {
  margin-top: 90px;
}
